<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.namoosori.travelclub.step4.mapper.ClubMapper">
    <select id="create"
            parameterType="io.namoosori.travelclub.step1.entity.club.TravelClub">
        <bind name="membershipListToJson" value="travelClub.membershipListToJson()"/>
        insert into TravelClub(name, intro, foundationDay, boardId)
        values (
        #{travelClub.name},
        #{travelClub.intro},
        #{travelClub.foundationDay},
        #{travelClub.boardId}
        )
    </select>

    <select id="retrieve"
            parameterType="String"
            resultMap="ClubWithMembership">
        select *
        from travelclub t, clubmembership c
        where t.usid=c.clubId
        and t.usid=#{clubId}
    </select>

    <select id="retrieveByName"
            parameterType="String"
            resultMap="ClubWithMembership">
        select *
        from travelclub t, clubmembership c
        where t.usid = c.clubId
        and t.name=#{name}
    </select>

    <update id="update" parameterType="io.namoosori.travelclub.step1.entity.club.TravelClub">
        <bind name="membershipListToJson" value="travelClub.membershipListToJson()"/>
        update travelclub
        set
        name=#{travelClub.name},
        intro=#{travelClub.intro},
        foundationDay=#{travelClub.foundationDay},
        boardId=#{travelClub.boardId}

        where usid=#{travelClub.usid}
    </update>

    <delete id="delete" parameterType="String">
        delete from travelclub where usid=#{clubId}
    </delete>

<!--private String clubId;
    private String memberEmail;
    private RoleInClub role;
    private String joinDate;-->

    <resultMap id="ClubWithMembership" type="io.namoosori.travelclub.step1.entity.club.TravelClub">
        <id property="usid" column="usid"/>
        <id property="name" column="name"/>
        <id property="intro" column="intro"/>
        <id property="foundationDay" column="foundationDay"/>
        <id property="boardId" column="boardId"/>
        <collection property="membershipList" ofType="io.namoosori.travelclub.step1.entity.club.ClubMembership">
            <id property="clubId" column="clubId"/>
            <id property="memberEmail" column="memberEmail"/>
            <id property="role" column="role"/>
            <id property="joinDate" column="joinDate"/>
        </collection>
    </resultMap>
</mapper>